#map {
    float: left;
    width: 75%;
    height: 100%; /* only for demonstration, should be removed */
    top:10px
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#sidebar {
    float: left;
    width: 25%;
    background-color: white ;
    height: 100%;
    top:0;
    
}
.topbar {
    background-color:#17202A;
    padding: 10px;
    text-align: left;
    font-size: 10px;
    color:black;
    
    
    
}

.h2{
    padding-left: 7%;
    color: white
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;s
    width: 100%;
    text-align: left;
    /*cursor: pointer;*/
    
}

#button {
    background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float:right;
    margin-right: 13%;
    
}

#button:hover{
    background-color: gray;
    color: white
}

.topbar input[type=text]{
    float: right;
    padding: 10px;
    margin-top: 2px;
    margin-right: 2%;
    border: none;
    font-size: 20px;
    width:50%
   
}
