<!DOCTYPE html>

<html>
    <!---Init -->
    <head>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'map.js') }}"> </script>
       
        <link rel="stylesheet" href="./static/style.css">
        <title>Solar Calculator</title>
        <meta name="viewport" content="width= device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable= no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
    </head>
    
    <body>
        <!---Top bar
         1. searchbox
         2. title
         -->
        <div class = "topbar">
            
            <button id="button">Search</button>
            <input type="text"  placeholder="please enter an address" id="mapsearch" autocomplete="on">
            <h2 class= "h2">Solar Calculator</h2>
            
        </div>
        
        <!---Side bar
         1. coordinates button: get user input for polygon coordinates; draw polygon
         2. nominal power: output monthly nominal power/ annully nominal power
         3. 3d polygon: get user input for height, draw 3d polygon
         4. Area: get area of projection polygon <Unfinishied!!!>
         -->
        <div id= "sidebar" >
            
        <ul>
        <li><button class="btn" id = "latlong"> Polygon Coordinates </button> </li>
        
            <div id = "coordinates">
                <p> Lat:    <input type="text"  id="lat" ></p>
                <p>Lng:     <input type="text"  id="lng"  ></p>
                <button id = "addcoor" > Add Coordinate</button>
                <br><br>
                <button id = "polygon"> Draw Polygon </button>
                <br><br>
                <button id = "clear"> Clear </button>
                <br><br>
            </div>
            
        <li><button class="btn" id= "power"> Nominal Power </button> </li>
        
            <div id = "info" style= "color:white">
            </div>
            
        <li><button class="btn" id = "threed"> 3D Polygon </button> </li>
        
            <div id = "threedpolygon">
                <p> Height:     <input type="text"  id="height" ></p>
                <button id = "drawthreed"> Draw 3D Polygon </button>
                <br><br>
            </div>
            
        <!-- not done -->
        <li><button class="btn"> Area </button> </li>
        </ul>
        
        <!-- scripts to show content after click button -->
        <script>
            
            $(document).ready(function(){
                $("#latlong").click(function(){
                    $("#coordinates").toggle();
                });
            });
            
            $(document).ready(function(){
                $("#power").click(function(){
                    $("#info").toggle();
                });
            });
            
            $(document).ready(function(){
                $("#threed").click(function(){
                    $("#threedpolygon").toggle();
                });
            });
        
        </script>
        
        </div>
        
        <!-- display google map -->
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDodNf2K_50gJQRmBP6sCpYFUtLsMSdfxQ&libraries=places,geometry&callback=initMap"
            type="text/javascript"></script>
        
    </body>
</html>


